body{
	background-color:white;
	height:895px;

}
.header {
	width:101%;
	height:60px;
	background-color:#008b03;
	position:fixed;
	font-family:Copperplate gothic light;
	top:-5px;
	margin-left:-11px;
	border:1px solid black;
	z-index:1;
}
#home{
	left:50px;
	top:17px;
	height:30px;
	border:none;
	
}
#about {
	left:135px;
	top:17px;
	height: 30px;
	border:none;
}
#resume {
	left:250px;
	top:17px;
	height:30px;
	border:none;
}
#contact {
	left:350px;
	top:17px;
	height:30px;
	border:none;
}

.bodyx {
	height:841px;
	width:102%;
	margin-left:-8px;
	background-color:#e1e1e1;
	margin-top:8px;	
}
#resume2 {
	position:absolute;
	width:80%;
	background-color:yellow;
	height:700px;
	margin-top:75px;
	margin-left:100px;
	
}
.footer {
	width:102%;
	height:60px;
	background-color:#008b03;
	margin-left:-9px;
	border:1px solid black	
}
#copy {
	margin-left:15px;
	margin-top:20px;
}
